*{
    margin: 0px;
    padding: 0px;
    }


h2{
    text-align: center;
}

.login{
    text-align:center;
}

.headers{
    text-align:center;
}


.welcome{
    background-image: url('yt_logo.png');
    background-size:10em;
    margin-bottom: 75px;
}


.welcome h4{
    margin-bottom: inherit;
 
 }

 .some_space{
     margin-top: 100px;
 }

 .labels{
     margin-top: 132px;
 }

  /* .labels{
    background-image: url('yt_logo.png');
    background-size:11em;
 } */

 .inputs{
     margin-top: 130px;
 }


.search_bar{
    margin-top: 75px;
}